<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Indício de Movimentação Atípica</title>
  <!--link rel="stylesheet" href="app.component.css"-->
</head>

<body>
  <h2>Cadastro de Indício de Movimentação Atípica</h2>
  <form id="indicioForm">
    <label for="tipoPessoa">Tipo Pessoa:</label>
    <select id="tipoPessoa" name="tipoPessoa">
      <option value="1">PF</option>
      <option value="2">PJ</option>
    </select><br>
    <label for="cpfCnpj">CPF/CNPJ:</label>
    <input type="text" id="cpfCnpj" name="cpfCnpj"><br>
    <label for="nomeCliente">Nome do Cliente:</label>
    <input type="text" id="nomeCliente" name="nomeCliente"><br>
    <label for="produto">Produto:</label>
    <input type="text" id="produto" name="produto"><br>
    <label for="data">Data:</label>
    <input type="date" id="data" name="data"><br>
    <label for="valorMovimentado">Valor Movimentado:</label>
    <input type="number" id="valorMovimentado" name="valorMovimentado"><br>
    <label for="detalhesMovimentacao">Detalhes da Movimentação:</label><br>
    <textarea id="detalhesMovimentacao" name="detalhesMovimentacao"></textarea><br>
    <input type="submit" value="Cadastrar">
  </form>

  <h2>Listagem de Indícios de Movimentação Atípica</h2>
  <table id="indiciosTable">
    <thead>
      <tr>
        <th>Tipo Pessoa</th>
        <th>CPF/CNPJ</th>
        <th>Nome do Cliente</th>
        <th>Produto</th>
        <th>Data</th>
        <th>Valor Movimentado</th>
        <th>Detalhes da Movimentação</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="frontend.js"></script>
</body>

</html>
