table{
  font-size: 16px;
  font-style: normal;
  color: #0000ff;
  margin: 10px;
  padding: 8px;
  padding-left: auto;
  border-collapse: collapse;
  width: auto;
}

td{
  text-align: left;
  padding: 8px;
  margin: 20px;
}

th {
  background:( #aaa);
  color: #000;
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: gainsboro;
}

.indiciosTable {
  background-color: #51515133;
  color: orangered;
  border-radius: 5px;
}
