<app-menu></app-menu>
<app-header></app-header>


<h2>Listagem de Indícios de Movimentação Atípica</h2>

<table id="indiciosTable">
  <thead>
    <tr>
      <th>Tipo Pessoa</th>
      <th>CPF/CNPJ</th>
      <th>Nome do Cliente</th>
      <th>Produto</th>
      <th>Data</th>
      <th>Valor Movimentado</th>
      <th>Detalhes da Movimentação</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <!--td>{{ tipoPessoa }}</td>
      <td>{{ cpfCnpj }}</td>
      <td>{{nomeCliente}}</td>
      <td>{{ produto }}</td>
      <td>{{ data }}</td>
      <td>{{ valorMovimentado }}</td>
      <td>{{ detalhesMovimentacao }}</td>
    </tr-->
  </tbody>
</table>
