<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
      <img src="../../../assets/x_caixa.png" width="40px">
      <span class="logo">SISIPLD</span>
    </li>
    <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
    <li routerLink="/cadastro"><mat-icon>person_add</mat-icon>Cadastrar ocorrencias</li>
    <a href="/dashboard">
      <li><mat-icon>local_fire_department</mat-icon>Visualizar ocorrências</li>
    </a>
    <a href="https://angular.dev/">
      <li><mat-icon>description</mat-icon>Angular</li>
    </a>
    <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
  </ul>
</nav>
